.main{
    padding: 15px;
}
.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}