*{
  margin: 0px;
}
.main{
  font-family: 'Times New Roman', Times, serif;
  max-width: 450px;
  margin: 0 auto;
  background: rgb(228, 223, 223);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}